<footer id="footer-button-group">
    <button type="button" class="btn btn-default button-1"><i class="bi bi-list"></i></button>
    <button type="button" class="btn btn-default button-2"><i class="bi bi-file-earmark-music"></i></button>
    <button type="button" class="btn btn-default button-3"><i class="bi bi-share-fill"></i></button>
</footer>