<!DOCTYPE html>
<html lang="ko" data-bs-theme="dark">
<%- include("./header.ejs") %>
<body id="app-body">
<header id="app-header">

</header>
<main id="app-body">
    <%- include("./navbar.ejs") %>
    <%- body %>

</main>
<%- include("./scripts.ejs") %>
</body>
</html>
