<div id="app-navbar">
    <ul>
        <li class="">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/popular">Popular Chart</a>
        </li>
        <li></li>
    </ul>
</div>