<nav class="searchbar ">
    <div id="ncp-logo-container">
        <img id="ncp-logo" src="/assets/images/svg/logo.svg" alt="nomad coder player"/>
    </div>
    <div class="form-floating flex-grow-1">
        <input type="text" class="form-control" id="floatingInput" placeholder="음악을 검색해 보세요.">
        <label for="floatingInput">Music</label>
    </div>
</nav>

