<!doctype html>
<html lang="ko">
<%- include("../layout/header.ejs") %>
<body>
<div class="container">
    <% for(const champ of chartData){ %>
        <%= champ.title %>
        <br>
    <% } %>

    <table class="ui celled table">
        <thead>

        <tr>
            <th>Title</th>
            <th>Views</th>
            <th>src</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td data-label="Name">James</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Jill</td>
            <td data-label="Age">26</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Elyse</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Designer</td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>