<%- contentFor('body') %>
<link rel="stylesheet" href="/assets/css/views/playlist.css" crossorigin="anonymous">
<div id="playlist-container">
    <label>
        <input type="text" name="playlist-name">
    </label>
    <button onclick="generatePlaylist()">generate</button>

    <ul class="playlists">

    </ul>
</div>


<script src="../js/views/playlist.js"></script>