<div id="player" class="main-tab main-tab-2">
    <div id="song-container">
        <img class="song-thumbnail" src="/assets/images/empty.png" alt="">

        <p class="song-title">재생중인 곡 없음</p>
        <p class="song-artist">재생중인 곡 없음</p>
        <p class="song-likeCount"><i class="bi bi-heart-fill"></i> <span class="count">0</span></p>
        <p class="song-viewCount"><i class="bi bi-play-fill"></i> <span class="count">0</span></p>
    </div>
</div>
