<div class="main-tab main-tab-3">
    <ul id="list-container" class="list-group"></ul>

    <% for(const song of songs){ %>
        <%- include("../organisms/Card.ejs", { song: song }) %>
    <% } %>
</div>