#playlist-container {
}

#playlist-container ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#playlist-container .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playlist-container .list button {
}